<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Playground</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .preview-area iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
    <style>
        .preview-code{
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px;
            margin:5px;
            background-color: #353635; 
            color:white;
        }
        .preview-web{
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px;
            margin:5px;
            background-color: #2a2b2a; 
        }
        .preview-console{
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px;
            margin:10px 0px 0px 5px;
            background-color: #131313;
            color: white;
        }
    </style>
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="preview-code">
                    <?php
                        include "coderJS.php";
                    ?>
                </div>
                <input class="prev" type="submit" onclick="prev()" value="Cek Code!">
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="preview-web">
                            <iframe id="preview-window"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="preview-console">
                            <div id="console"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        // Listen for messages
        window.addEventListener('message', function(response) {
          // Make sure message is from our iframe, extensions like React dev tools might use the same technique and mess up our logs
          if (response.data && response.data.source === 'iframe') {
            // Do whatever you want here.
            // console.log(response.data.message[0]);
            let divId = document.getElementById("console");
            let span = document.createElement("span");
            span.appendChild(document.createTextNode(response.data.message[0]));
            divId.appendChild(span);
          }
        });
        function prev(){
            // var coderHTML = document.getElementById("html").value;
            // var coderCSS = "<style>" + document.getElementById("css").value + "</style>";
            var coderJS = "<scri"+"pt>"+"const _log = console.log;console.log = function(...rest) {window.parent.postMessage({source: 'iframe',message: rest,},'*');_log.apply(console, arguments);};"+"</scri"+"pt>"+"<scri" + "pt>" + document.getElementById("js").value + "</scri" + "pt>";
            var frame = document.getElementById("preview-window").contentWindow.document;
            frame.open();
            frame.write(coderJS);
            frame.close();
            // document.getElementById("console").innerHTML = document.getElementById("preview-window").contentWindow.console
            // console.log(document.getElementById("preview-window").contentWindow.console.log)
            // if(validHTML(coderHTML)) {
            //     sendToServer(coderHTML,frame);
            // }
            // else {
            //     alert('Invalid HTML');
            //     var frameset = document.getElementById("preview-window")
            //     frameset.style.display = "none"
            // }
        }
        function validHTML(html) {
            var openingTags, closingTags;
            html        = html.replace(/<[^>]*\/\s?>/g, '');      // Remove all self closing tags
            html        = html.replace(/<(br|hr|img).*?>/g, '');  // Remove all <br>, <hr>, and <img> tags
            openingTags = html.match(/<[^\/].*?>/g) || [];        // Get remaining opening tags
            closingTags = html.match(/<\/.+?>/g) || [];           // Get remaining closing tags
        
            return openingTags.length === closingTags.length ? true : false;
        }
        function sendToServer(datas,frame){
            var form = new FormData();
            form.append("data", datas);
        
            var settings = {
                "url": "http://localhost:8080/coders",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": form
            };
        
            $.ajax(settings).done(function (response) {
                let json = JSON.parse(response)
                // alert(response)
                console.log(json)
                if(json.result){
                    var frameset = document.getElementById("preview-window")
                    frameset.style.display = "block"
                    frame.open();
                    frame.write(datas);
                    frame.close();
                }else{
                    var frameset = document.getElementById("preview-window")
                    frameset.style.display = "none"
                    alert("jawaban tidak tepat")
                }
            });
        }
    </script>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coder</title>
</head>
<body>
<style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .prev{
            margin-top:10px;
            width:33%;
            height:40px
        }
        .preview-area iframe {
            width: 100%;
            height: 50%;
            border: none;
        }
    </style>
<div class="code-area">
    <?php
        include "coderJS.php";
    ?>
</div>
<div class="preview-area">
    <input class="prev" type="submit" onclick="prev()" value="Cek Code!">
    <iframe id="preview-window"></iframe>
</div>
<div id="console"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
// Listen for messages
window.addEventListener('message', function(response) {
  // Make sure message is from our iframe, extensions like React dev tools might use the same technique and mess up our logs
  if (response.data && response.data.source === 'iframe') {
    // Do whatever you want here.
    // console.log(response.data.message[0]);
    let divId = document.getElementById("console");
    let span = document.createElement("span");
    span.appendChild(document.createTextNode(response.data.message[0]));
    divId.appendChild(span);
  }
});
function prev(){
    // var coderHTML = document.getElementById("html").value;
    // var coderCSS = "<style>" + document.getElementById("css").value + "</style>";
    var coderJS = "<scri"+"pt>"+"const _log = console.log;console.log = function(...rest) {window.parent.postMessage({source: 'iframe',message: rest,},'*');_log.apply(console, arguments);};"+"</scri"+"pt>"+"<scri" + "pt>" + document.getElementById("js").value + "</scri" + "pt>";
    var frame = document.getElementById("preview-window").contentWindow.document;
    frame.open();
    frame.write(coderJS);
    frame.close();
    // document.getElementById("console").innerHTML = document.getElementById("preview-window").contentWindow.console
    // console.log(document.getElementById("preview-window").contentWindow.console.log)
    // if(validHTML(coderHTML)) {
    //     sendToServer(coderHTML,frame);
    // }
    // else {
    //     alert('Invalid HTML');
    //     var frameset = document.getElementById("preview-window")
    //     frameset.style.display = "none"
    // }
}
function validHTML(html) {
    var openingTags, closingTags;
    html        = html.replace(/<[^>]*\/\s?>/g, '');      // Remove all self closing tags
    html        = html.replace(/<(br|hr|img).*?>/g, '');  // Remove all <br>, <hr>, and <img> tags
    openingTags = html.match(/<[^\/].*?>/g) || [];        // Get remaining opening tags
    closingTags = html.match(/<\/.+?>/g) || [];           // Get remaining closing tags

    return openingTags.length === closingTags.length ? true : false;
}
function sendToServer(datas,frame){
    var form = new FormData();
    form.append("data", datas);

    var settings = {
        "url": "http://localhost:8080/coders",
        "method": "POST",
        "timeout": 0,
        "processData": false,
        "mimeType": "multipart/form-data",
        "contentType": false,
        "data": form
    };

    $.ajax(settings).done(function (response) {
        let json = JSON.parse(response)
        // alert(response)
        console.log(json)
        if(json.result){
            var frameset = document.getElementById("preview-window")
            frameset.style.display = "block"
            frame.open();
            frame.write(datas);
            frame.close();
        }else{
            var frameset = document.getElementById("preview-window")
            frameset.style.display = "none"
            alert("jawaban tidak tepat")
        }
    });
}
</script>
</body>
</html>

<script>
    
    let previous = { level: null, args: null };

    ["clear", "log", "info", "dir", "warn", "error", "table"].forEach((level) => {
      const original = console[level];
      console[level] = (...args) => {
        const stringifiedArgs = stringify(args);
        if (previous.level === level && previous.args && previous.args === stringifiedArgs) {
          parent.postMessage({ action: "console", level, duplicate: true }, "*");
        } else {
          previous = { level, args: stringifiedArgs };

          try {
            parent.postMessage({ action: "console", level, args }, "*");
          } catch (err) {
            parent.postMessage({ action: "console", level: "unclonable" }, "*");
          }
        }

        original(...args);
      };
    });

    [
      { method: "group", action: "console-group" },
      { method: "groupEnd", action: "console-group-end" },
      { method: "groupCollapsed", action: "console-group-collapsed" },
    ].forEach((groupAction) => {
      const original = console[groupAction.method];
      console[groupAction.method] = (label) => {
        parent.postMessage({ action: groupAction.action, label }, "*");

        original(label);
      };
    });

    const timers = new Map();
    const originalTime = console.time;
    const originalTimeLog = console.timeLog;
    const originalTimeEnd = console.timeEnd;

    console.time = (label = "default") => {
      originalTime(label);
      timers.set(label, performance.now());
    };
    console.timeLog = (label = "default") => {
      originalTimeLog(label);
      const now = performance.now();
      if (timers.has(label)) {
        parent.postMessage(
          {
            action: "console",
            level: "system-log",
            args: [`${label}: ${now - timers.get(label)}ms`],
          },
          "*"
        );
      } else {
        parent.postMessage(
          { action: "console", level: "system-warn", args: [`Timer '${label}' does not exist`] },
          "*"
        );
      }
    };
    console.timeEnd = (label = "default") => {
      originalTimeEnd(label);
      const now = performance.now();
      if (timers.has(label)) {
        parent.postMessage(
          {
            action: "console",
            level: "system-log",
            args: [`${label}: ${now - timers.get(label)}ms`],
          },
          "*"
        );
      } else {
        parent.postMessage(
          { action: "console", level: "system-warn", args: [`Timer '${label}' does not exist`] },
          "*"
        );
      }
      timers.delete(label);
    };

    const originalAssert = console.assert;
    console.assert = (condition, ...args) => {
      if (condition) {
        const stack = new Error().stack;
        parent.postMessage({ action: "console", level: "assert", args, stack }, "*");
      }
      originalAssert(condition, ...args);
    };

    const counter = new Map();
    const originalCount = console.count;
    const originalCountReset = console.countReset;

    console.count = (label = "default") => {
      counter.set(label, (counter.get(label) || 0) + 1);
      parent.postMessage(
        { action: "console", level: "system-log", args: `${label}: ${counter.get(label)}` },
        "*"
      );
      originalCount(label);
    };

    console.countReset = (label = "default") => {
      if (counter.has(label)) {
        counter.set(label, 0);
      } else {
        parent.postMessage(
          { action: "console", level: "system-warn", args: `Count for '${label}' does not exist` },
          "*"
        );
      }
      originalCountReset(label);
    };

    const originalTrace = console.trace;

    console.trace = (...args) => {
      const stack = new Error().stack;
      parent.postMessage({ action: "console", level: "trace", args, stack }, "*");
      originalTrace(...args);
    };

    function stringify(args) {
      try {
        return JSON.stringify(args);
      } catch (error) {
        return null;
      }
    }
  
</script>