<!-- Complete Email template -->

<body style="background-color:grey">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="550" bgcolor="white"
        style="border:2px solid #37caec">
        <tbody>
            <tr>
                <td align="center">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="col-550" width="550">
                        <tbody>
                            <tr>
                                <td align="center" style="background-color: #ffffff;height: 50px;width: 45%;">
                                    <a href="#" style="text-decoration: none;">
                                        <img src="../../../public/assets/images/logo/kodein-logo(FIX)-k.png" style="width: 40% ; float:left" alt="logo kodein">
                                    </a>
                                </td>
                                <td align="center" style="background-color: #ffffff;height: 50px;">
                                    <a href="#" style="text-decoration: none;">
                                        <p style="color:black; font-weight:bold; font-size: 20px ;float: left; padding-left: 10px;">
                                            KODEIN
                                        </p>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="height: 300px;">
                <td align="center" style="border: none;background-color: #3dd9d6; border-bottom: 2px solid #4cb96b; padding-right: 20px;padding-left:20px">
                    <p style="font-weight: bold;font-size: 42px;font-family: jost; letter-spacing: 0.025em;color:black;">
                        Hello Kodein!
                        <br> This is email verifikasi
                    </p>
                </td>
            </tr>

            <tr style="display: inline-block;">
                <td style="height: 150px;
                           padding: 20px;
                           border: none; 
                           border-bottom: 2px solid #361B0E;
                           background-color: white;">

                    <h2 style="text-align: left;
                               align-items: center;">
                        Design Patterns : A Must Skill to
                        have for Software Developers in 2019
                    </h2>
                    <p class="data" style="text-align: justify-all;
                              align-items: center; 
                              font-size: 15px;
                              padding-bottom: 12px;">
                        Design Patterns….??? I think you have heard this name
                        before in programming… Yes, you might have heard
                        this name before in programming if you are…
                    </p>
                    <p>
                        <a href="https://www.geeksforgeeks.org/design-patterns-a-must-skill-to-have-for-software-developers-in-2019/"
                            style="text-decoration: none; 
                                  color:black; 
                                  border: 2px solid #4cb96b; 
                                  padding: 10px 30px;
                                  font-weight: bold;">
                            Read More
                        </a>
                    </p>
                </td>
            </tr>
            <tr style="border: none; 
            background-color: #4cb96b; 
            height: 40px; 
            color:white; 
            padding-bottom: 20px; 
            text-align: center;">

                <td height="40px" align="center">
                    <p style="color:white; 
    line-height: 1.5em;font-weight: bold;">
                        KODEIN
                    </p>
                    <a href="#" style="border:none;
           text-decoration: none; 
           padding: 5px;">

                        <img height="30"
                            src="../../../public/assets/images/icon_sosmed/instagram.png"
                            width="30" />
                    </a>

                    <a href="https://www.linkedin.com/company/kelaskodingkodein/" style="border:none;
    text-decoration: none;
    padding: 5px;">

                        <img height="30"
                            src="../../../public/assets/images/icon_sosmed/linkedin.png"
                            width="30" />
                    </a>

                    <a href="https://www.facebook.com/kodein.indonesia/" style="border:none;
    text-decoration: none;
    padding: 5px;">

                        <img height="30"
                            src="../../../public/assets/images/icon_sosmed/facebook (1).png"
                            width="30" style="position: relative;" />
                    </a>
                </td>
            </tr>
            <tr>
                <td style="font-family:'Open Sans', Arial, sans-serif;
           font-size:11px; line-height:18px; 
           color:#999999;" valign="top" align="center">
                    <a href="#" target="_blank" style="color:#999999; 
          text-decoration:underline;">PRIVACY STATEMENT</a>
                    | <a href="#" target="_blank" style="color:#999999; text-decoration:underline;">TERMS OF SERVICE</a>
                    | <a href="#" target="_blank" style="color:#999999; text-decoration:underline;">RETURNS</a><br>
                    © 2012 GeeksforGeeks. All Rights Reserved.<br>
                    If you do not wish to receive any further
                    emails from us, please
                    <a href="#" target="_blank" style="text-decoration:none; 
                         color:#999999;">unsubscribe</a>
                </td>
            </tr>
        </tbody>
    </table>
    </td>
    </tr>
    <!-- <tr>
        <td class="em_hide" style="line-height:1px;
                 min-width:700px;
                 background-color:#ffffff;">
            <img alt="" src="images/spacer.gif" style="max-height:1px; 
              min-height:1px; 
              display:block; 
              width:700px; 
              min-width:700px;" width="700" border="0" height="1">
        </td>
    </tr> -->
    </tbody>
    </table>
</body>